/*.noheader .column-header-background {*/
/*    -fx-max-height: 0;*/
/*    -fx-pref-height: 0;*/
/*    -fx-min-height: 0;*/
/*}*/

/*.table-view{*/
/*    -fx-background-color:#9de3f2;*/
/*    -fx-font-size:15px;*/
/*    -fx-font-weight:bold;*/
/*    -fx-alignment:center;*/
/*    -fx-border-color:black;*/
/*}*/